[submodule "themes/blog-themes"]
	path = themes/blog-themes
	url = git@github.com:neilliu9891/blog-themes.git
[submodule "public"]
	path = public
	url = git@github.com:neilliu9891/neilliu9891.github.io.git
